body{
    display: grid;
    align-items: center;
    justify-items: center;
    color: #5f574e;
    background-color: #f3e6d8;
    padding: 3% 0 3% 0;
}

b{
    color: #5f574e;
}

h2{
    color: #854632;
}

h1{
    color: #302d2c;
}

hr{
    color:  black;
}

.menu-card{
    width: 600px;
    /*height: 80vh;*/
    padding: 2% 1% 2% 1%;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.menu-dish-img{
    margin: auto;
}

.omelette-img{
    height: auto;
    width: 500px;
}

.menu-preparation{
    background-color: #fff5fa;
}

.menu-preparation h3{
    color: #7b284f;
}

.menu-ingredients h2{
}

.nut-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
}